.btn {
  width: 150px;
  height: 45px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 18px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn.primary {
  background-color: #0a79ff;
  color: #ffffff;
}

.btn.success {
  background-color: #5cb85c;
  color: #ffffff;
}
