.navbar {
  width: 100%;
  padding: 30px 30px 30px 200px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
}

.navbar .nav-left {
  width: 400px;
  display: flex;
  justify-content: center;
}

.nav-left .image-container {
  display: flex;
  width: 80px;
  height: 60px;
}

.nav-left .image-container img {
  width: 70%;
  cursor: pointer;
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}
.nav-left .image-container img:hover {
  width: 80%;
}

.nav-left .location-container {
  padding: 15px 0;
  cursor: pointer;
  justify-content: center;
}

.nav-left .location-container a span {
  font-size: 12px;
  color: #9e9ea1;
}

.nav-left .location-container a .highlight {
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
  margin: 0 5px;
  padding-bottom: 4px;
  border-bottom: 2px solid #000000;
  font-weight: 700;
}

.nav-left .location-container a .fa-solid {
  color: #f1ac2b;
}

.navbar .nav-right {
  margin: auto;
}

.navbar .nav-right .nav-item {
  margin-right: 0.4rem;
  display: inline-block;
  list-style-type: none;
  padding: 3px;
}

.navbar .fa-solid {
  margin: 0 0.5rem;
}

.navbar .nav-right .nav-item .nav-links {
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar .nav-right .nav-item .nav-links .offer {
  color: #f1ac2b;
  text-transform: uppercase;
}

.navbar .nav-left .location-container:hover a .highlight,
.navbar .nav-left .location-container:hover a .fa-solid,
.navbar .nav-right .nav-item .nav-links:hover {
  color: #f1ac2b;
  border-color: #f1ac2b;
}
