/* Footer */

.footer-section {
  width: 100%;
  color: #ffffffff;
  background-color: #000000;
}

.footer-section .footer-container {
  margin: 0 4%;
  padding: 4% 0;
}

.footer-section .footer-container .footer-copyright .social-container,
.footer-section .footer-container .footer-copyright,
.footer-section .footer-container .cities-container .cities,
.footer-container .footer-header-container {
  display: flex;
  justify-content: space-around;
}

.footer-section .footer-container h4 {
  margin: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #939292;
}

.footer-section .footer-container ul {
  list-style: none;
}

.footer-section .footer-container ul li {
  padding: 5px;
  margin-top: 15px;
  font-weight: 300;
  font-size: 17px;
  cursor: pointer;
  text-transform: capitalize;
}

.footer-container .footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section .footer-container .footer-copyright .image-container img {
  width: 140px;
}

.footer-section .footer-container .footer-copyright .social-container i {
  margin: 15px;
}
