/* Universal CSS Start */

* {
  box-sizing: border-box;
}

/* Universal CSS End */

/* Navbar Css start */

.navbar {
  width: 100%;
  padding: 30px 30px 30px 200px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
}

.navbar .nav-left {
  width: 400px;
  display: flex;
  justify-content: center;
}

.nav-left .image-container {
  display: flex;
  width: 80px;
  height: 60px;
}

.nav-left .image-container img {
  width: 70%;
  cursor: pointer;
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}

.nav-left .image-container img:hover {
  width: 80%;
}

.nav-left .location-container {
  padding: 15px 0;
  cursor: pointer;
  justify-content: center;
}

.nav-left .location-container a span {
  font-size: 12px;
  color: #9e9ea1;
}

.nav-left .location-container a .highlight {
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
  margin: 0 5px;
  padding-bottom: 4px;
  border-bottom: 2px solid #000000;
  font-weight: 700;
}

.nav-left .location-container a .fa-solid {
  color: #f1ac2b;
}

.navbar .nav-right {
  margin: auto;
}

.navbar .nav-right .nav-item {
  margin-right: 0.4rem;
  display: inline-block;
  list-style-type: none;
  padding: 3px;
}

.navbar .fa-solid {
  margin: 0 0.5rem;
}

.navbar .nav-right .nav-item .nav-links {
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar .nav-right .nav-item .nav-links .offer {
  color: #f1ac2b;
  text-transform: uppercase;
}

.navbar .nav-left .location-container:hover a .highlight,
.navbar .nav-left .location-container:hover a .fa-solid,
.navbar .nav-right .nav-item .nav-links:hover {
  color: #f1ac2b;
  border-color: #f1ac2b;
}

/* Navbar end */

/* Card Component Start */

.container {
  display: inline-block;
}

.container.small > p {
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
}

.container.small > p.success {
  background-color: #5cb85c;
  color: #ffffff;
}

.container.small > p.default {
  background-color: #ffffff;
  color: #737373;
}

.container.small > p.secondary {
  background-color: #db7c38;
  color: #ffffff;
}

.container.small > p.ternary {
  background-color: #e1b055;
  color: #ffffff;
}

.container.small p span {
  margin: 5px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #cecfbc, #c6cba7);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.card {
  padding: 10px;
  margin: 5px;
  position: relative;
}

.card .card-container {
  border: 1px solid #ffffff;
  margin: 5px;
  padding: 15px;
}

.card .text-container {
  margin-top: 15px;
  width: 254px;
}

.card .text-container h3 {
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
  margin-bottom: 4px;
}

.card .text-container p {
  font-size: 13px;
  color: #686b78;
  margin: 1px 0 21px 0;
  width: 100%;
}

.card .card-footer p > .fa-solid {
  margin: 5px;
}

.card .tag-container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  color: #737373;
}

.card .card-footer {
  text-align: start;
  justify-content: start;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card .card-footer .card-link-item {
  visibility: hidden;
  text-align: center;
  justify-content: center;
}

.card:hover .card-container {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  border: 1px solid #000000;
}

.card:hover .card-footer .card-link-item {
  visibility: visible;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card .card-footer .card-link-item .card-link {
  color: #1185eb;
  text-decoration: none;
  text-transform: uppercase;
}

.card .card-container .img-container {
  position: relative;
  width: 50%;
}

.card .card-container .img-container img {
  width: 254px;
}

.promotion-container {
  display: block;
  position: absolute;
  left: -8px;
  background-color: #3a3c41;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 40%;
}

.promotion-container > .promotion > p {
  margin: 0;
  z-index: 1000;
  color: #ffffff;
  padding: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.card .card-footer .offerString {
  color: #db7c38;
}

/* Card Component End */

/* Button Component Start */

.btn {
  width: 150px;
  height: 45px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 18px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn.primary {
  background-color: #0a79ff;
  color: #ffffff;
}

.btn.success {
  background-color: #5cb85c;
  color: #ffffff;
}

/* Button Component end */

/* Home Page  Start*/

.section-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4%;
  padding-top: 150px;
  justify-content: center;
}

/* Home Page End */

/* Search Page Start */

.section-search-container {
  width: 60%;
  height: 100vh;
}

.search-container {
  width: 100%;
  padding: 15px;
  border: 1px solid #8c8c8c;
  display: flex;
  justify-content: space-between;
}

.search-input {
  outline: none;
  width: 100%;
  font-size: large;
  border: none;
}

.cuisines {
  margin: 30px;
  font-size: 20px;
  font-weight: 800;
}

.search-image-container {
  display: flex;
  overflow: hidden;
  margin: 20px;
}

.img-container img {
  width: 100%;
  height: 100px;
}

/* Search Page End */

/* Footer Component Start */

.footer-section {
  width: 100%;
  color: #ffffffff;
  background-color: #000000;
}

.footer-section .footer-container {
  margin: 0 4%;
  padding: 4% 0;
}

.footer-section .footer-container .footer-copyright .social-container,
.footer-section .footer-container .footer-copyright,
.footer-section .footer-container .cities-container .cities,
.footer-container .footer-header-container {
  display: flex;
  justify-content: space-around;
}

.footer-section .footer-container h4 {
  margin: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #939292;
}

.footer-section .footer-container ul {
  list-style: none;
}

.footer-section .footer-container ul li {
  padding: 5px;
  margin-top: 15px;
  font-weight: 300;
  font-size: 17px;
  cursor: pointer;
  text-transform: capitalize;
}

.footer-container .store-container {
  width: 200px;
}

.footer-container .store-container .play-store,
.footer-container .store-container .app-store {
  margin: 30px 0;
}

.footer-container .footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.footer-section .footer-container .footer-copyright .image-container img {
  width: 140px;
}

.footer-section .footer-container .footer-copyright .social-container i {
  margin: 15px;
}

/* Footer Component End */
